<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body>
    <%- include("templates/navbar") %>
    <div class="container mt-5 overflow-auto">
      <table class="table table-success table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody class="overflow-auto" id="caja">
          <% data.map((x) => { %>

          <tr>
            <th scope="row"><%= x.id %></th>
            <td><%= x.nombre %></td>
            <td><%= x.desc %></td>
            <td>$<%= x.precio %></td>
            <td><%= x.stock %></td>
            <td>
              <img src=<%= x.img %> width="40" height="40" alt="..."/>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <div class="container mt-5 d-grid gap-2">
      <form
        class="d-grid gap-2"
        onsubmit="return sendPostCarrito('/api/carritos').then(result => {alert(result.message)})"
      >
        <button type="submit" class="btn btn-primary" name="crear">
          Crear carrito
        </button>
      </form>
    </div>
    <br />
    <br />
  </body>
</html>
